<!DOCTYPE html>
<html lang="ko">
<head>
  <title>sheet to json</title>
  <link
    rel="stylesheet"
    href="/src/styles/styles.css">
  <script src="/src/scripts/index.js"></script>
</head>
<body>
<form
  action="/"
  method="POST"
  enctype="multipart/form-data">
  <div class="sheet">
    <div class="sheet-path"></div>
    <div class="sheet-btn">
      <input
        type="file"
        name="file"
        id="sheet-file">
      <label for="sheet-file">파일찾기</label>
      <button
        type="submit"
        class="btn-submit">
        업로드
      </button>
    </div>
  </div>
</form>
</body>
</html>